body {
  background: lightskyblue;
  padding: 50px;
  font-family: 'Jost', sans-serif;
}

a {
  color: darkblue;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: lightsalmon;
  background: crimson;
  border-radius: 6px;
}

li {
  list-style: none;
}