<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>My Dev Skills</title>
</head>
<body>
    <body>
        <h1>Developer Skill:</h1>
        <h1>Skill #<%= skillNum %></h1>
        <h3><%= skill.skill %></h3>
        <h3>Complete: <%= skill.acquired ? 'Yes' : 'No' %></h3>
      </body>
</body>
</html>